.image-container{
    display: flex;
    align-items: flex-start;
    margin-top: 82px;
    margin-left: 182px;
}

.left-image{
    width: 24.75px;
    height: 25px;
    top: 107.67px;
    left: 97px;
    margin-right: 10px; /* Add some spacing between the images*/
}

.right-image{
    width: 138.44px;
    height: 36px;
    top: 106px;
    left: 132.33px;
}